/* Paleta de colores */
:root {
    --color-fondo: #F3F3E0;
    --color-primario: #133E87;
    --color-secundario: #608BC1;
    --color-acento: #CBDCEB;
    --text-color: #333;
    --button-active: #133E87;
    --button-hover: #CBDCEB;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body*/

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-primario);
    margin: 0;
    padding: 0;
}

/*header*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    width: 100%;
    z-index: 10;
}


header .logo{
    position: relative;
    color: var(--color-secundario);
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
    margin-top: 15px;
}

header ul li a{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: o 15px;
    text-decoration: none;
    color: var(--color-secundario);
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header.abajo{
    background-color: var(--color-primario);
    padding: 5px 15px;
}

header.abajo .logo,
header.abajo ul li a{
    color: var(--color-acento);
}

/*navegación*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navegación ul{
    list-style: none;
}

.nav > li{
    /*position: relative;*/
    display: inline-block;
}

.nav > li > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: 'Montserrat', sans-serif;
}

.nav li a:hover{
    color: var(--color-acento);
    transition: all .3s;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.language-buttons {
    margin-bottom: 20px;
}
button {
    margin: 5px;
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 16px;
    background-color: var(--color-fondo);
    cursor: pointer;
    border: none;
}
.hidden {
    display: none;
}

.zona1{
    position: relative;
    width: 100%;
    height: 100vh;
    height: 550px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;

}

section .text-slogan{
    display: flex;
    height: 420px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-slogan{
    display: inline-flex;
    margin-left: 15px;
    margin-top: 140px;
    margin-bottom: 150px;
}

.text-slogan span{
    position: relative;
}

.text-slogan span::after{
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--color-fondo);
    width: 100%;
    color: var(--color-fondo);
    left: 0;
    animation: typing 4.5s steps(150) infinite;
}
.text-slogan h2{
    color: var(--color-primario);
    font-size: 60px;
    font-weight: 300;
}

.text-slogan h3{
    color: var(--color-secundario);
    font-size: 40px;
    font-weight: 250;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/*about me*/

.content-about-me{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.text-about-me{
    width: 48%;
}

.text-about-me h2{
    margin-bottom: 15px;
    display: inline-block;
    text-align: left;
    font-size: 30px;
    color: var(--color-primario);
    margin-top: 30px;
}

.text-about-me h3{
    margin-bottom: 5px;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    color: var(--color-primario);
    margin-top: 10px;
}

.text-about-me p{
    margin-bottom: 15px;
    display: inline-block block;
    text-align: justify;
    font-weight: 100;
    color: #333;
}

.img-about-me{
    width: 45%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 8px;
    margin-right: 50px;
}

.text-about-me a{
    text-decoration: none;
}
/*values*/

.Values{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-acento);
    padding-top: -30px;
}

.content-values{
   padding-top: 40px;
}

.content-values h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.content-card{
    display: flex;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: 5s;

}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: var(--color-fondo);
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color: #f3f3f3;
    text-decoration: none;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/*galery*/



/*footer*/